# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime / diagnostics
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build outputs
dist
build
.next
out
.nuxt
.svelte-kit/
.vuepress/dist
**/.vitepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Coverage / caches
coverage
*.lcov
.nyc_output
.cache
.parcel-cache
.temp
.eslintcache
.stylelintcache
.npm
.swc
.turbo
.vercel

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
.env*.local

# OS / editor files
.DS_Store
.vscode-test

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*